<li>
	{{burger}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Eat time!{{else}}all done!!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{id}}" >
		delete
	</button>
</li>
