<li>
	{{burger}}

	<button type="button" class="change-devoured btn btn-light" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}eat time!{{else}}all done!{{/if}}
	</button>

	<button type="button" class="delete-burger btn btn-light" data-id="{{id}}" >
		delete
	</button>
</li>
